{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Simulator{% endblock title %}
{% block description %}Parametros para simulação{% endblock description %}
{% block body %}
<div class="container">
<form method="post">
 {% csrf_token %}
  <div class="row">
    <div class="col-6">
      {{ form.brand|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form.channel|as_crispy_field }}
    </div>
        <div class="col-6">
      {{ form.period|as_crispy_field }}
    </div>
          <div class="col-md-4">
        {{ form.purchase|as_crispy_field }}
      </div>
  </div>
    <div class="row">
      <div class="col-md-4">
        {{ form.sales_perform|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.discount|as_crispy_field }}
      </div>
    </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
</div>

{% endblock body %}
